body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.taskAddForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}
.subtasksblock {
    display: flex;
    flex-direction: column;
    width: 30%;
}
input {
    margin: 5px;
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
}